@import '../node_modules/ag-grid-community/dist/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-base/sass/_ag-theme-base-mixin.scss';

// $jazz-enable-css-custom-properties: true;

// @import "./scss/theme";
// @import "./scss/theme_default";
// @import "./scss/color-hex-map";
// @import "./scss/table";

.jazz-theme__table-basic {
  @include ag-theme-base(
    (
      // COLORS
      foreground-color: black,
      background-color: transparent,
      data-color: black,
      secondary-foreground-color: black,
      header-foreground-color: black,
      odd-row-background-color: #EEEEEE,
      border-color: #D0D0D0,
      secondary-border-color: ag-derived(border-color),
      row-border-color: ag-derived(secondary-border-color),
      row-hover-color: #E7F1FF,
    )
  );

  .ag-row-first {
      border-top: 0;
  }
  .ag-header {
      border-bottom: 0;
  }
  .ag-header-row-column {
    font-weight: bold;
  }
  .ag-header-cell {
    border-bottom: 2px solid #717171;
  }
  .ag-menu, .ag-popup, .ag-list-item {
    background-color: #fff;
  }
}

.jazz-theme__table-two {
  @include ag-theme-base(
    (
      // COLORS
      foreground-color: #fff,
      background-color: transparent,
      data-color: #fff,
      secondary-foreground-color: #fff,
      header-foreground-color: #fff,
      odd-row-background-color: #2A2A2A,
      subheader-toolbar-background-color: #fff,
      control-panel-background-color: #fff,
      border-color: #D0D0D0,
      secondary-border-color: #414141,
      row-border-color: ag-derived(secondary-border-color),
      row-hover-color: #146FEB,
    )
  );

  .ag-row-first {
      border-top: 0;
  }
  .ag-header {
      border-bottom: 0;
  }
  .ag-header-row-column {
    font-weight: bold;
  }
  .ag-header-cell {
    border-bottom: 2px solid #A0A0A0;
  }
  .ag-menu, .ag-popup, .ag-list-item {
    background-color: #414141;
  }
}

.jazz-theme__table-three{
  @include ag-theme-base(
    (
      // COLORS
      foreground-color: black,
      background-color: transparent,
      data-color: black,
      secondary-foreground-color: black,
      header-foreground-color: black,
      odd-row-background-color: #EEEEEE,
      border-color: #D0D0D0,
      secondary-border-color: ag-derived(border-color),
      row-border-color: ag-derived(secondary-border-color),
      row-hover-color: #E7F1FF,
    )
  );

  .ag-row-first {
      border-top: 0;
  }
  .ag-header {
      border-bottom: 0;
  }
  .ag-header-row-column {
    font-weight: bold;
  }
  .ag-header-cell {
    border-bottom: 2px solid #717171;
  }
  .ag-menu, .ag-popup, .ag-list-item {
    background-color: #fff;
  }
}

body {
  background-color: white;
  padding: 1rem;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
