/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ag-grid-community/dist/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-base/sass/_ag-theme-base-mixin.scss';

$jazz-enable-css-custom-properties: true;

@import "./scss/theme";
// THEMES
@import "./scss/theme_default";
// COMPONENTS

@import "./scss/color-hex-map";
@import "./scss/table";

// MAIN THEME
.jazz-theme__table-basic {
  @include ag-theme-base(
    (
      foreground-color: #000,

      // ROW
      data-color: jazz-theme(table-row-color),
      row-hover-color: #E7F1FF,

      // HEADER
      header-foreground-color: jazz-theme(table-th-color),
      header-background-color: jazz-theme(table-th-bgcolor),

      // BORDER
      borders: false,
      borders-critical: true,
      border-color: #D0D0D0,

      cell-horizontal-padding: 18px,

    )
  );

  // Remove row border below header border
  .ag-row-first {
      border-top: 0;
  }
  .ag-header {
      border-bottom: 0;
  }

  .ag-header-row-column {
    font-weight: bold;
  }

  .ag-header-cell {
    border-bottom: 3px solid #717171;
  }
}

// SECOND THEME
// use ag-derived helper function to allow theme extension by other developers, and to derive values from another property.
.jazz-theme__table-dark {
  @include ag-theme-base(
    (
      foreground-color: #000,
      data-color: ag-derived(border-color),
      header-foreground-color: orange,
      secondary-foreground-color: yellow,
      borders: true,
      border-radius: 5px,
      border-color: maroon,
      header-column-separator: true,
      header-column-separator-width: 1px,
      header-column-separator-color: ag-derived(border-color, $opacity: 0.5),
      font-family: (
        Georgia,
        sans-serif,
      ),
    )
  );
}

body {
  background-color: white;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
