$jazz-theme-feature: (
  // table
  table-font: jazz-font(jazz-public-sans),
  table-border-color: jazz-color(jazz-gray-20),
  table-th-bgcolor: jazz-color(jazz-white),
  table-th-color: jazz-color(jazz-black),
  table-th-border-color: jazz-color(jazz-gray-60),
  table-row-sep-color: jazz-color(jazz-gray-20),
  table-row-even-odd-bgcolor: jazz-color(jazz-gray-10),
  table-row-even-odd-color: jazz-color(black),
  table-row-bgcolor: jazz-color(white),
  table-row-color: jazz-color(red),
  table-subtotal-bgcolor: jazz-color(jazz-gray-5),
  table-subtotal-color: jazz-color(black),
  table-grand-total-bgcolor: jazz-color(white),
  table-grand-total-color: jazz-color(black),
  table-subtitle-bgcolor: jazz-color(jazz-gray-5),
  table-subtitle-color: jazz-color(black),
  table-row-hover-bgcolor: jazz-color(jazz-blue-light),
  table-row-hover-color: jazz-color(black)
);
